In [ ]:
import sqlite3
import pandas as pd

In [ ]:
con = sqlite3.connect("mydb.db")

In [ ]:
con.execute(''' CREATE TABLE person(id INT PRIMARY KEY NOT NULL, first_name VARCHAR(30) NOT NULL, age)''')

In [ ]:
con.execute('''INSERT INTO person VALUES(1,"Dina","Perez",50)''')
con.execute('''INSERT INTO person VALUES(2,"Juan","Sanchez",40)''')
con.execute('''INSERT INTO person VALUES(3,"Dina","Lopez",50)''')